The task is to watch the following video and list the important objects in the video. The video will be about a robot performing a task. Pay special attention
to the robot and the objects it interacts with.

For example, imagine a video of a robot picking up a cup and pouring it into a bowl. The important objects are the robot, the cup, and the bowl.
The output format is a simple period-separated list of objects, such as just "a cup. a bowl. a robot."

Watch the following video and list the important objects in the video: