@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: #2a2a2a;
}

body {
  color: #d4d4d4;
  background: #1a1a1a;
  font-feature-settings: "rlig" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

